<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KbcList</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/kbc-menu.css" />
        <link rel="stylesheet" href="~/css/kbc-index.css" />
        <link rel="stylesheet" href="~/css/kbc-header.css" />
        <link rel="stylesheet" href="~/css/kbc-start.css" />
        <link rel="stylesheet" href="~/css/kbc-board.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css" asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>

<body ng-app="KbcList" ng-controller="HeaderCtrl as header" board>
    <div class="bg-primary navbar navbar-fixed-top kbc-header ">
        <div class="container-fluid">
            <div class="navbar-header kbc-header-left">
                <a href="#" class="navbar-brand kbc-header-brand">Kbc List</a>
                <button ng-click="header.KbcListButtonClick()" type="submit" class="btn btn-info btn-sm kbc-header-button"><span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span> Tableaux</button>
            </div>
            <div class="navbar-header navbar-right kbc-header-right">
                <a asp-controller="Admin" asp-action="Index" class="btn btn-info btn-sm kbc-header-button">Administration</a>
            </div>
        </div>
    </div>

    <div class="@(ViewData["container-type"] ?? "container") body-content">
        @RenderBody()
     
    </div>
    @Html.Partial("KBCMenu")

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/controllers/index.js" asp-append-version="true"></script>
        <script src="~/js/controllers/header.js" asp-append-version="true"></script>
        <script src="~/js/services/kbcMenuService.js" asp-append-version="true"></script>
        <script src="~/js/controllers/board.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.3.min.js" asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js" asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="https://opensource.keycdn.com/angularjs/1.5.8/angular.min.js" asp-fallback-src="~/lib/angular/angular.js" asp-fallback-test="window.angular">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>

</html>